@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "View de exemplo para sites de WEB/Desktop";
}

<div>
    <p>
        Esta é uma view exemplo.
    </p>
</div>

<div id="modalNotificacao">
</div>

<script>
    //const notificacaoClient = new NotificacaoClient();
</script>
